<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

</head>
<body>
    
    <!-- main content Start -->
     <div class="main-content">

    <!--========= home section start ============= -->
                    <section class="home section " id="home">
                        <div class="container">
                            <div class="row">
                                <h1 class="mb-10">User From</h1>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!-- get type -->
                                    <!-- <form method="get">
                                        <div>
                                            <label for="">Value1</label>
                                            <input type="text" name="num1">
                                        </div>
                                        <div>
                                            <label for="">Value2</label>
                                            <input type="text" name="num2">
                                        </div>

                                        <div>
                                            <button type="submit">Save</button>
                                        </div>
                                        OUTPUT:
                                        <input type="text" value="{{output}}"/>
                                    </form> -->
                                    <!-- get type end -->
                                    <!-- Post method start -->
                                    <form method="post" action="% url 'submitform' %">
                                        {% csrf_token %}
                                        {{form}}
                                        <!-- <div>
                                            <label for="">Value1</label>
                                            <input type="text" name="num1" value="{{n1}}">
                                        </div>
                                        <div>
                                            <label for="">Value2</label>
                                            <input type="text" name="num2" value="{{n1}}">
                                        </div>

                                        <div> -->
                                            <button type="submit">Save</button>
                                        </div>
                                        OUTPUT:
                                        <input type="text" value="{{output}}"/>
                                   
                                    <!-- Post method end -->
                                </div>
                            </div>
                        </div>
                    </section>
    <!--========Main Container end========  -->
    


</body>
</html>